In [1]:
print("Hello World")

Hello World

In [2]:
instructor = "Emmanuel"

In [3]:
print (instructor)

Emmanuel

In [4]:
name = input("What is your name:")
print(name)

What is your name:Emmanuel
Emmanuel

In [6]:
there = input("Are you there: ")
print(there)

Are you there: yes
yes

In [8]:
my_car = input("My_car")
print(type("My_car"))

My_car"Camry"
<class 'str'>

In [10]:
age4 = 42
Name = "Emmauel"

In [11]:
# Explanation of F-string
print(f"{name} is {age4} yeears old")

Emmanuel is 42 yeears old

In [15]:
Revenue = 56
Name = "greenlight"

In [17]:
print(f"our sales in {Name} this month is {56} million")

our sales in greenlight this month is 56 million

In [18]:
Turnover = 90
Name = "Topfield"

In [20]:
print(f"the Sales {Name} made last month was {90} billion naira only")

the Sales Topfield made last month was 90 billion naira only

In [21]:
student = "Moruf"
print(student)

Moruf

In [22]:
student.capitalize()
student.upper

'MORUF'

In [30]:
spar = 45
name = "emmanuel"

In [37]:
print(f"please check if {name} is at number {45} opebi")

please check if emmanuel is at number 45 opebi

In [38]:
# i want to define name variable
my_name = "emmanuel"
print(f"Hello, {my_name}")

Hello, emmanuel

In [39]:
# i want to eat define name variable
name = "friedrice"
print(f"i want to eat, {name}")

i want to eat, friedrice

In [40]:
number = 6
add_5 = number +5
print(f"{add_5}°")

11°

In [44]:
fahrenheit = 68
celsius = (fahrenheit - 32)/1.8
print(f"{fahrenheit}°f is equal to {celsius}°c")

68°f is equal to 20.0°c

In [55]:
result = 30 ** 4 * 3 / 5
print(result)

486000.0

In [56]:
result = (47+20) * (40-10) / 4
print(result)

502.5

In [60]:
var3 = "Emmanuel"
var4 = "Joshua"

var3.startswith("E") and var4.endswith("a")

True

In [66]:
score = 90

if score >= 90:
    print('Excellent')
elif score>= 70 and score <= 89:
    print("Good")
elif score>= 50 and score <=69:
    print("average")      
else:
    print("below Average")

Excellent